<!DOCTYPE html>
<html>

<head>
    <title>Seller Dashboard</title>
</head>

<body>

    <marquee>
        <h1>Welcome to Easymart, {{name}}!</h1>
    </marquee>

    <h3>Seller Dashboard</h3>

    <hr>

    <!-- Search Product -->
    <form action="/seller/search" method="GET">
        <input type="text" name="search" placeholder="Search your products..." style="width:250px; padding:8px;">

        <input type="submit" value="Search">
    </form>

    <br>

    <a href="/seller/add-product">Add Product</a><br><br>

    <a href="/seller/my-products">My Products</a><br><br>

    <a href="/seller/logout">Logout</a>

</body>

</html>