<!DOCTYPE html>
<html>

<head>
    <title>Customer Login</title>
</head>

<body>

    <h2>Customer Login</h2>

    <form action="/login" method="POST">

        <label>Email</label><br>
        <input type="email" name="email" required><br><br>

        <label>Password</label><br>
        <input type="password" name="password" required><br><br>

        <input type="submit" value="Login"><br>

        <h3>Don't have an account? <a href="/register">Register</a></h3>


    </form>

</body>

</html>